
<div class="row">
  <div class="col-12 col-md-2"></div>
  <div class="col-12 col-md-8">
    <div class="wrapper">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            Formulario para envio de parámetros
            <button type="button" class="btn btn-dark btn-sm float-end" (click)="addField()" >
              Añadir campo
            </button>
          </h5>

          <form [formGroup]="form" (ngSubmit)="saveParameters()" >
            <ng-container formArrayName="parameters">
              <ng-container *ngFor="let paramsForm of parameters.controls; let i = index">
                <div class="form-group" [formGroup]="paramsForm">
                  <label class="mt-2">parámetro {{ i + 1 }}</label>
                  <div class="row">
                    <div class="col-11">
                      <input type="text" formControlName="parammeter" class="form-control mt-2"> 
                    </div>
                    <div class="col-1" *ngIf="i > 0">
                      <button type="button" class="btn btn-danger btn-sm float-end" (click)="deleteField(i)" >
                        X
                      </button>
                    </div>
                  </div>
                </div> 
              </ng-container>
            </ng-container>
            <div class="d-grid gap-2">
              <button type="submit" class="btn btn-dark btn-block mt-4"
                [disabled]="form.invalid"
              >
                Enviar
              </button>
            </div>
          </form>

          <div class="alert mt-2" [ngClass]="colorAlert" role="alert" *ngIf="showAlert" >
            {{ textoAlert }}
            <button type="button" class="btn-close float-end" aria-label="Close" (click)="showAlert = false"></button>
          </div>
          <hr>
          <h4>Ultimo calculo realizado</h4>
          
          <div class="card" *ngFor="let calc of calcs | async; let i = index" >
            <div class="card-body" ngif="i === 0" >
              <h5 class="card-title">Parámetros: {{calc.numbers}}</h5>
              <h6 class="card-subtitle mb-2 text-muted">Suma: {{ calc.result }}</h6>
              <h6 class="card-subtitle mb-2 text-muted">Parámetros sin sumar: {{ calc.invalidData }}</h6>
            </div>
          </div>
 
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-2"></div>
</div>

